* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../assets/restaurant.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 20px;
    background: white;
    box-shadow: 1px 1px 1px gray;
    position:sticky;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

li {
    font-size: 24px;
    cursor: pointer;
}

#content {
    flex: 1;
}

.container {
    background-color: rgba(255, 255, 255, 0.747);
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 5px;
}

.content-heading {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    width: 70%;
    margin: 0 auto;
}

.content-info {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

p {
    margin-top: 15px;
}

.menu-card {
    padding: 10px;
}

.menu-item {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    min-width: 100px;
    height: 238px;
}

.credit-text {
    font-size: 12px;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: white;
    border-top: 1px solid gray;
}