* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../assets/restaurant.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 25px;
    background: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

li {
    font-size: 24px;
    cursor: pointer;
}

#content {
    flex: 1;
    
    height: 100%;
    
}

h1 {
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

p {
    margin-top: 60px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 25px;
    background: white;
}